<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Remove trailing slash (301 redirect)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [R=301,L]
  
  RewriteRule ^hintalaskuri$ hintalaskuri/index.html [L]
  RewriteRule ^hintalaskuri-espoo$ hintalaskuri-espoo/index.html [L]
  RewriteRule ^hintalaskuri-helsinki$ hintalaskuri-helsinki/index.html [L]
  RewriteRule ^hintalaskuri-kauniainen$ hintalaskuri-kauniainen/index.html [L]
  RewriteRule ^hintalaskuri-vantaa$ hintalaskuri-vantaa/index.html [L]
  RewriteRule ^julkisivumaalaus-espoo$ julkisivumaalaus-espoo/index.html [L]
  RewriteRule ^julkisivumaalaus-helsinki$ julkisivumaalaus-helsinki/index.html [L]
  RewriteRule ^julkisivumaalaus-kauniainen$ julkisivumaalaus-kauniainen/index.html [L]
  RewriteRule ^julkisivumaalaus-vantaa$ julkisivumaalaus-vantaa/index.html [L]
  RewriteRule ^julkisivurappaus-espoo$ julkisivurappaus-espoo/index.html [L]
  RewriteRule ^julkisivurappaus-helsinki$ julkisivurappaus-helsinki/index.html [L]
  RewriteRule ^julkisivurappaus-kauniainen$ julkisivurappaus-kauniainen/index.html [L]
  RewriteRule ^julkisivurappaus-vantaa$ julkisivurappaus-vantaa/index.html [L]
  RewriteRule ^kattomaalaus-espoo$ kattomaalaus-espoo/index.html [L]
  RewriteRule ^kattomaalaus-helsinki$ kattomaalaus-helsinki/index.html [L]
  RewriteRule ^kattomaalaus-kauniainen$ kattomaalaus-kauniainen/index.html [L]
  RewriteRule ^kattomaalaus-vantaa$ kattomaalaus-vantaa/index.html [L]
  RewriteRule ^maalaustyot-espoo$ maalaustyot-espoo/index.html [L]
  RewriteRule ^maalaustyot-helsinki$ maalaustyot-helsinki/index.html [L]
  RewriteRule ^maalaustyot-kauniainen$ maalaustyot-kauniainen/index.html [L]
  RewriteRule ^maalaustyot-vantaa$ maalaustyot-vantaa/index.html [L]
  RewriteRule ^mikrosementti-espoo$ mikrosementti-espoo/index.html [L]
  RewriteRule ^mikrosementti-helsinki$ mikrosementti-helsinki/index.html [L]
  RewriteRule ^mikrosementti-kauniainen$ mikrosementti-kauniainen/index.html [L]
  RewriteRule ^mikrosementti-vantaa$ mikrosementti-vantaa/index.html [L]
  RewriteRule ^referenssit$ referenssit/index.html [L]
  RewriteRule ^tasoitustyot-espoo$ tasoitustyot-espoo/index.html [L]
  RewriteRule ^tasoitustyot-helsinki$ tasoitustyot-helsinki/index.html [L]
  RewriteRule ^tasoitustyot-kauniainen$ tasoitustyot-kauniainen/index.html [L]
  RewriteRule ^tasoitustyot-vantaa$ tasoitustyot-vantaa/index.html [L]
  RewriteRule ^ukk$ ukk/index.html [L]
  
  # SPA fallback
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>